:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --primary-btn-bg-color: #f5f4fa;
  --secondary-btn-bg-color: #2196f3;
  --third-btn-bg-color: #188ce8;
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --primary-btn-text: #212121;
  --secondary-btn-color: #ffffff;
  --primary-border-color: #eeeeee;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --header-contact-link: #757575;
  --footer-contact-link: rgba(255, 255, 255, 0.6);
  --primary-font-family: "Roboto";
  --secondary-font-family: "Raleway";
  --primary-letter-spacing: 0.03em;
  --primary-socials-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

textarea {
  resize: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.no-decoration {
  text-decoration: none;
}

.style-none {
  list-style: none;
}

.full-width {
  display: block;
  width: 100%;
  height: auto;
}

.cursor {
  cursor: pointer;
}

body {
  font-family: var(--primary-font-family), sans-serif;
  background-color: var(--main-bg-color);
  letter-spacing: var(--primary-letter-spacing);
}

.section {
  padding: 94px 0;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.17;
}

.header {
  border-bottom: 1px solid #ececec;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu {
  display: flex;
  align-items: center;
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}
.menu__list {
  display: flex;
}
.menu__link {
  position: relative;
  display: block;
  padding: 30px 0;
  color: var(--primary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.logo {
  display: block;
  margin-right: 90px;
  color: var(--primary-title-color);
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}
.logo__accent {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #2196f3;
  border-radius: 2px;
}

.communication {
  display: flex;
  margin-left: auto;
}
.communication__item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.communication__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 20px;
  color: var(--header-contact-link);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
}
.communication__link:hover, .communication__link:focus {
  color: var(--accent-color);
}
.communication__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero__title {
  max-width: 695px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: var(--secondary-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero__btn {
  padding: 10px 32px;
  background-color: var(--secondary-btn-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--secondary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
}
.hero__btn:active, .hero__btn:hover, .hero__btn:focus {
  background-color: var(--third-btn-bg-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  padding-bottom: 0;
}
.features__list {
  display: flex;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}
.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features__desc {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.works__list {
  display: flex;
}
.works__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}
.works__item:not(:first-child) {
  margin-left: 30px;
}
.works__title {
  position: absolute;
  bottom: 0;
  display: flex;
  height: 70px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--secondary-title-color);
  background-color: rgba(47, 48, 58, 0.8);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: var(--primary-letter-spacing);
}
.works__title::before {
  background-color: rgba(47, 48, 58, 0.8);
}
.works__title:hover, .works__title:focus {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #d9d9d9;
  opacity: 1;
}

.team {
  background-color: var(--third-bg-color);
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__item {
  flex-basis: calc((100% - 90px) / 4);
  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__member {
  padding: 30px 32px;
}
.team__names {
  margin-bottom: 10px;
  color: var(--primary-title-color);
  text-align: center;
  line-height: 1.19;
  font-weight: 500;
}
.team__positions {
  margin-bottom: 16px;
  color: var(--main-text-color);
  text-align: center;
  line-height: 1.19;
}

.socials {
  display: flex;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__links {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-socials-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__links:hover, .socials__links:focus {
  color: var(--secondary-btn-color);
  background-color: var(--accent-color);
}
.socials__icon {
  fill: currentColor;
}

.clients__list {
  display: flex;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-socials-color);
  border: 1px solid var(--primary-socials-color);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.clients__icon {
  fill: currentColor;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__btn {
  display: block;
  padding: 6px 25px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-btn-bg-color);
  color: var(--primary-title-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter__btn:focus, .filter__btn:hover {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__btn:active {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio__item {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio__links {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__links:hover, .portfolio__links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__links:hover .portfolio__details, .portfolio__links:focus .portfolio__details {
  opacity: 1;
  transform: translateY(0);
}
.portfolio__thumbs {
  position: relative;
  overflow: hidden;
}
.portfolio__img {
  display: block;
}
.portfolio__details {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  color: var(--secondary-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: var(--primary-letter-spacing);
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__titles {
  margin-bottom: 4px;
  font-weight: 700;
  color: var(--primary-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__titles__wrap {
  padding: 20px 24px;
  border-bottom: 1px solid var(--primary-border-color);
  border-right: 1px solid var(--primary-border-color);
  border-left: 1px solid var(--primary-border-color);
}
.portfolio__desc {
  color: var(--main-text-color);
  line-height: 1.87;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer__wrap {
  display: flex;
  align-items: baseline;
}

.footer__contacts {
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 20px;
  margin-right: 0;
  color: var(--secondary-title-color);
}

.contacts {
  font-style: normal;
}
.contacts__item {
  font-size: 14px;
  line-height: 1.71;
}
.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.contacts__address {
  display: block;
  color: var(--secondary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__address:hover, .contacts__address:focus {
  color: var(--accent-color);
}
.contacts__link {
  display: block;
  color: var(--footer-contact-link);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

/* Follow div */
.follow {
  margin-right: 93px;
}
.follow__title {
  margin-bottom: 20px;
  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-btn-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Mailing */
.mailing__form {
  display: flex;
  justify-content: space-between;
}
.mailing__title {
  margin-bottom: 20px;
  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: uppercase;
}
.mailing__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.mailing__input:hover, .mailing__input:focus {
  border: 1px solid var(--accent-color);
}
.mailing__btn {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary-btn-bg-color);
  color: var(--secondary-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}
.mailing__icon {
  margin-left: 10px;
  fill: var(--secondary-title-color);
}

.backdrop {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-title-color);
}
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal__close:hover .modal__icon, .modal__close:focus .modal__icon {
  fill: var(--accent-color);
}
.modal__icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.no-scroll {
  overflow: hidden;
}

@-webkit-keyframes appearModal {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}

@keyframes appearModal {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
.form {
  display: flex;
  flex-direction: column;
}
.form .form__field {
  position: relative;
  margin-bottom: 10px;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}
.form__input {
  outline: none;
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus, .form__input:hover {
  outline: none;
  border: 1px solid #2196f3;
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: var(--accent-color);
}
.form__comment {
  padding: 12px 16px;
  margin-bottom: 20px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__comment:focus, .form__comment:hover {
  outline: none;
  border: 1px solid #2196f3;
}
.form__btn {
  outline: none;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--secondary-btn-bg-color);
  color: var(--secondary-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.form__btn:focus, .form__btn:hover {
  border: 1px solid var(--accent-color);
}

.terms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.terms__label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.terms__link {
  margin-left: 4px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--accent-color);
  outline: none;
}
.terms__link:focus {
  border: 1px solid var(--accent-color);
}
.terms__icon {
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 3px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.terms__checkbox:hover + .terms__icon, .terms__checkbox:focus + .terms__icon {
  border: 2px solid var(--accent-color);
}
.terms__checkbox:checked + .terms__icon {
  border: none;
  background-image: url(../images/icon-check.svg);
}/*# sourceMappingURL=main.css.map */