.backdrop {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgb(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: var(--primary-letter-spacing);

    color: var(--primary-title-color);
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    @include flex-center();
    
    background-color: var(--primary-bg-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:hover .modal__icon,
    &:focus .modal__icon {
      fill: var(--accent-color);
    }
  }

  &__icon {
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.no-scroll {
  overflow: hidden;
}

@keyframes appearModal {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}

.form {
  display: flex;
  flex-direction: column;
  .form__field {
    position: relative;
    margin-bottom: 10px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
  }

  &__input {
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      outline: none;
      border: 1px solid #2196f3;
    }
    &:hover + .form__icon,
    &:focus + .form__icon {
      fill: var(--accent-color);
    }
  }
  &__comment {
    padding: 12px 16px;
    margin-bottom: 20px;
    border: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus,
    &:hover {
      outline: none;
      border: 1px solid #2196f3;
    }
  }
  &__btn {
    outline: none;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;

    background-color: var(--secondary-btn-bg-color);
    color: var(--secondary-title-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    &:focus,
    &:hover {
      border: 1px solid var(--accent-color);
    }
  }
}

.terms {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &__label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575;
  }

  &__link {
    margin-left: 4px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--primary-letter-spacing);

    color: var(--accent-color);
    outline: none;
    &:focus {
      border: 1px solid var(--accent-color);
    }
  }
  &__icon {
    position: relative;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    display: inline-block;
    border: 2px solid #212121;
    border-radius: 3px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__checkbox:hover + .terms__icon,
  &__checkbox:focus + .terms__icon {
    border: 2px solid var(--accent-color);
  }
  &__checkbox:checked + .terms__icon {
    border: none;
    background-image: url(../images/icon-check.svg);
  }
}
