.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.no-decoration {
    text-decoration: none;
}

.style-none {
    list-style: none;
}

.full-width {
    display: block;
    width: 100%;
    height: auto;
}

.cursor {
    cursor: pointer;
}