:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --third-bg-color: #f5f4fa;

    --primary-btn-bg-color: #f5f4fa;
    --secondary-btn-bg-color: #2196f3;
    --third-btn-bg-color: #188ce8;

    --primary-title-color: #212121;
    --secondary-title-color: #ffffff;

    --primary-btn-text: #212121;
    --secondary-btn-color: #ffffff;

    --primary-border-color: #eeeeee;

    --main-text-color: #757575;
    --accent-color: #2196f3;

    --header-contact-link: #757575;
    --footer-contact-link: rgba(255, 255, 255, 0.6);

    --primary-font-family: 'Roboto';
    --secondary-font-family: 'Raleway';

    --primary-letter-spacing: 0.03em;

    --primary-socials-color: #afb1b8;
}